body{
  background-color: aliceblue;
  /* overflow: visable; */
}
.container{
 position: absolute;
 top: 15px;
 right: 15px;
 bottom: 15px;
 left: 15px;
  background-color: black;
}
.boxes {
  width: 2.5em;
  height: 2.5em;
  border: 5px solid white;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 70px;
  text-align: right;
  padding: .05em .05em .05em;

}

.green {
  float: left;
  background-color: green;
  text-align: left;
  margin-top: 10%;
  /* margin-right: 5%; */
  margin-left: 30%;
  -webkit-border-top-left-radius: 50px 30px;
  -webkit-border-top-right-radius: 50px 30px;
  -webkit-border-bottom-left-radius: 50px 30px;
}

.red {
  float: left;
  background-color: red;
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
  -webkit-border-top-left-radius: 50px 30px;
  -webkit-border-top-right-radius: 50px 30px;
  -webkit-border-bottom-right-radius: 50px 30px;

}

.yellow {
  float: left;
  background-color: yellow;
  clear:left;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
  /* margin-right: 5%; */
  margin-left: 30%;
  -webkit-border-top-left-radius: 50px 30px;
  -webkit-border-bottom-left-radius: 50px 30px;
  -webkit-border-bottom-right-radius: 50px 30px;

}

.blue {
  float: left;
  background-color: blue;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
  -webkit-border-top-right-radius: 50px 30px;
  -webkit-border-bottom-left-radius: 50px 30px;
  -webkit-border-bottom-right-radius: 50px 30px;
}

